{% extends 'base.html' %}

	{% block content %}
		<!--RETRIEVE-->
		{% for p in product_list %}
			<h2>
				{{p.title}}
				<a href="{% url "management:detail" p.pk %}">
					<button type="button" class="btn btn-light">More</button>
				</a>
			</h2>
			<p>
				Description: <br>
				{{p.description}}<br>
				Due: {{p.farthest_date}}
			</p>
			<h5>Total Cost: {{p.totalcost}}</h5>
		{% endfor %}

		<!--CREATE-->
		<hr>
		<p>
			<a href="{% url 'management:product_create' %}">
				<button type="button" class='btn btn-primary'>Make New Product</button>
			</a>
		</p>
	{% endblock %}
