{% extends "base.html" %}

	{% block content %}
		<h2>{{product}}</h2>
		<p>
			{{product.description}}
		</p>

		<p>
			{{product.farthest_date}}
		</p>

		<div class="projects">
				{% for project in product.projects.all %}
					<h3>
						{{project}}
						<span class="">
							<a href="{% url "management:project_detail" project.pk %}">
								<button type="button"class="btn btn-primary">More</button>
							</a>
						</span>
					</h3>
				<!-- TASKS -->
				<h6>Total Tasks: {{project.task_count}}</h6>

				<!--RESOURCES-->
				<h6>Total Resources: {{project.resource_count}}</h6>
				<!--COST-->
				<h6>Total Cost: {{project.total_cost}}</h6>
			<!--SUBTOTAL-->
		{% endfor %}
		<h3>Product Cost: {{product.total_cost}}</h3>
		<!--Create New Prouct-->
		<a href="{% url 'management:project_create' product.pk %}">
			<button type="button"class="btn btn-primary">Create Project</button>
		</a>

		<!--DELETE-->
		<a href="{% url 'management:product_delete' product.pk %}">
			<button class="btn btn-danger" type="button" name="Delete">Delete</button>
		</a>

		<!--UPDATE-->
		<a href="{% url 'management:product_update' product.pk %}">
			<button type="button" class="btn btn-warning">Edit</button>
		</a>
	{% endblock %}
