{% extends "base.html" %}

	{% block content %}
		<h2>{{product}}</h2>
		<p>
			{{product.description}}
		</p>

		<p>
			{{product.farthest_date}}
		</p>

		<div class="projects">
			<h3>Current Projects:</h3>
				{% for project in product.projects.all %}
					<p>
						{{project}}
				<!-- TASKS -->
				{% if project.tasks.all != 0 %}
					<h4>Tasks:
						<div class="float-right">
							<button class="btn btn-primary" type="button" name="">New Task</button>
						</div>
					</h4>
					<table border='1px' width="100%">
						{% for t in project.tasks.all %}
							<tr>
								<td>{{t}}</td>
								<td>{{t.description}}</td>
								<td>Due: {{t.due_date}}</td>
								<td><span class="float-right">{{t.cost}}</span></td>
							</tr>
						{% endfor %}
					</table>
				{% endif %}

				<!--RESOURCES-->
				<table border="1px" width="100%">
				{% if resources.all != 0 %}
				<h4>Resources:
					<div class="float-right">
						<button class="btn btn-primary" type="button" name="">New Resource</button>
					</div>
				</h4>
					{% for r in project.resources.all %}
						<tr>
							<td>{{r}}</td>
							<td>{{r.description}}</td>
							<td>{{r.owner}}</td>
							<td>
								<div class="float-right">
									{{r.cost}}
								</div>
							</td>
						</tr>
					{% endfor %}
				{% endif %}
				<tr>

				</tr>
				</table>
			<!--SUBTOTAL-->
			<div class='float-right'><h3>Total Cost: {{product.totalcost}}</h3></div>
		{% endfor %}
		<!--DELETE-->
		<a href="{% url 'management:product_delete' product.pk %}">
			<button class="btn btn-danger" type="button" name="Delete">Delete</button>
		</a>

		<!--UPDATE-->
		<a href="{% url 'management:product_update' product.pk %}">
			<button type="button" class="btn btn-warning">Edit</button>
		</a>
	{% endblock %}
