{% extends "base.html" %}
	{% block content %}

	<div class="projects">
		{{project}}
			<!-- TASKS -->
			{% if project.tasks.all != 0 %}
				<h4>Tasks:
					<!--CREATE TASK-->
					<div class="float-right">
							<a href="{% url 'management:task_create' project %}">
								<button class="btn btn-primary" type="button" name="">New Task</button>
							</a>
					</div>
				</h4>
				<table width="100%">
					{% for t in project.tasks.all %}
							<tr>
								<td>
									{{t}}
									<a href="{% url 'management:task_detail' t.pk %}">more</a>
								</td>
								<td>{{t.description}}</td>
								<td>Due: {{t.due_date}}</td>
								<td><span class="float-right">{{t.cost}}</span></td>
							</tr>
					{% endfor %}
				</table>
			{% endif %}

			<!--RESOURCES-->
			<table width="100%">
			{% if resources.all != 0 %}
			<h4>Resources:

				<!--CREATE RESOURCE-->
				<div class="float-right">
					<button class="btn btn-primary" type="button" name="">New Resource</button>
				</div>
			</h4>
				{% for r in project.resources.all %}
					<tr>
						<td>{{r}}</td>
						<td>{{r.description}}</td>
						<td>{{r.owner}}</td>
						<td>
							<div class="float-right">
								{{r.cost}}
							</div>
						</td>
					</tr>
				{% endfor %}
			{% endif %}
			<tr>

			</tr>
			</table>

			<!--UPDATE-->
			<a href="{% url 'management:project_update' project.pk %}">
				<button type="button" class="btn btn-primary">Edit</button>
			</a>

			<!--DELETE-->
			<a href="{% url 'management:project_delete' project.pk %}">
				<button type="button" class="btn btn-danger">Delete</button>
			</a>
	</div>
	{% endblock content %}
